.sectionRosa {
    background-color: #f65d99;
    /* height: 800px; */
}

.blu {
   color: #1b5ffa; 
}

.justify-self-end {
    justify-self: end;
}

.noBg{
    background-color: #f65d99;
    border: none;
}

.altezzaCustom {
    height: 550px;

    a {
        justify-self: end;
    }
}

